body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background: url("../images/concrete_seamless.png");
}

.display-4{
 font-family: 'Archivo Black', sans-serif;
}

.jumbo-link{
  font-size: 36px
}

.profile-pic{
  width: 30%
}