body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background: url("../images/concrete_seamless.png");
}

.display-4, .navbar-brand{
 font-family: 'Archivo Black', sans-serif;
}

.card-header{
  font-family: 'Bree Serif', serif;
}
.jumbo-link{
  font-size: 36px
}

.profile-pic{
  width: 20%
}

.work{
  font-family: 'Bree Serif', serif;
}