.projects {
  margin: 0 25%;
}

.portfolio-card{
  max-width: 700px;
  border: 3px solid green;
  text-align: center;
  margin: 15px 0;
}

.portfolio-card-header {
  border-bottom: 3 px solid green;
  margin-top: 0
}

.portfolio-card-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px
}



