.projects {
  width: 64vw;
display: flex;
overflow-x: scroll;
overflow-y: hidden;
  border: 3px solid green;
  border-radius: 10px;
}

.work {
  display: flex;
flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0
}

#explain {
  margin: 15px
}

.portfolio-card{
  position: relative;
  height: 375px;
background: white;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
  margin: 15px;
}

@media only screen and (min-width: 1000px){

.portfolio-card {
  box-shadow: -1rem 0 3rem #000;
  transition: .2s;
}



.portfolio-card:hover~.portfolio-card {
  transform: translateX(130px)
}

.portfolio-card:not(:first-child) {
  margin-left: -130px
}
}

.portfolio-card-header {
  background: green;
  width: 300px;
  padding-top: 0;
  align-items: center;
  border-radius: 5px 5px 0 0
}

.portfolio-card-body {
background: white;
  margin-bottom: 10px;
  padding-bottom: 0;
}

.description {
  font-size: 25px;
}

.app-link {
  color: white;
  font-family: 'Bree Serif', serif;
font-size: 30px;
}

.github-link {
  position: absolute;
  bottom: 0;
  left: 42%;
}

.portfolio-logo {
  width: 50px;
  margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
  .projects {
    width: 90vw
  }
}