body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.jumbotron{
  text-align: center;
  background: green;
  color: white
}

.display-4{
  font-family: 'Archivo Black', sans-serif;
}

.lead{
  font-size: 18pt;
}

.jumbo-link{
  font-size: 24pt;
  font-weight: bold
}

.card-header, .portfolioTag{
  font-family: 'Bree Serif', serif;
}
.portfolioTag{
  font-size: 50pt
}
.profile-pic{
  width: 25%
}

.topBar{
  color: white
}
