* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(59,179,22,1) 100%);
}

p {
  margin-bottom: 10px;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat (5, 20%);
}


#sidebar {
  position: fixed;
  width: 25%;
  height: 100%;
  text-align: center;
  font-family: "Roboto Mono", sans-serif;
  border-radius: 5px;
  border-right: 5px dashed white
}

#sidebar ul {
  margin-top: 20%;
  font-size: 25px;
}

#sidebar li {
  margin: 15% 0 0 -10%;
  list-style-type: none;
  color: white;
}

#sidebar a {
  color: white;
  text-decoration: none
}

.nameCard {
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-size: 25px
}

.name {
  background: green;
  color: white;
  padding: 3px;
  border: 1px solid black
}

.tagline {
  background: white;
  color: black;
  border: 1px solid black;
}

.pages {
  grid-column-start: 2;
  grid-row-start: 2;
  margin: 2%;
}

#landing {
  text-align: center;
  font-size: clamp(1.5rem, 4.5vw, 4.5rem);
  font-family: 'Sansita Swashed', cursive;
  color: white;
}

.profile-pic {
  float: left;
  margin: 0 10px;
  width: 25%
}

.card {
  border: 3px solid white;
  border-radius: 10px;
  margin: 30px;
  padding: 0
}

.card-header {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  background: green;
  color: white;
  margin: 0;
  padding: 10px;
  border-radius: 5px 5px 0 0
}

.card-body {
  background: white;
  padding: 2% 0
}

.card li {
  list-style-type: none;
  text-align: center;
}

#contact-head {
  text-align: center;
}

#contact li {
  font-size: 30px
}

.buttonLogo {
  width: 32px;
  background: white;
  margin-right: 1%
}

#copyright {
  text-align: right;
  color: white;
}

.home-menu{
  display:none;
}

#mobile-menu{
  font-family: "Roboto Mono", sans-serif;
  text-align: center;
  line-height: 2
}


@media only screen and (max-width: 1000px) {
  body{
    background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(59,179,22,1) 100%);
    width: 100%;
  }

 
  .container-grid {
   max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
  }

  .card{
    margin: 0
  }
  

  #sidebar {
    position: fixed;
    top: 0;
    height: 1%;
    width: 100%;
  }

  .dropdown-content {
    display: none;
  }

  .home-menu{
    display: contents;
  }

  #landing h1{
    font-size: 45px;
  }
  
  #landing a{
    color: white;
    font-family: "Roboto Mono", sans-serif;
  }

  .pages {
    grid-row-start: 2;
    grid-column-start: 1
  }

  #copyright {
    text-align: center;
  }

  .portfolio-card {
    grid-column: 1 / 5
  }

}
