body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;

}

#header {
  text-align: center;
  font-family: "Helvetica", sans-serif;
}

#name {
  background: green;
  color: white;
}


.jumbo-link {
  font-size: 24pt;
  font-weight: bold
}

.card-header,
.portfolioTag {
  font-family: 'Bree Serif', serif;
  text-align: center
}

.portfolioTag {
  font-size: 50pt
}

.profile-pic {
  width: 25%
}

.nav-item {
  color: white
}

.buttonLogo {
  width: 32px
}

.learning{
  color: gray;
}