body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  background: rgb(24,121,9);
  background: blue;
  color: white;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 3fr
}

img{
  width: 25px;
}

.sidebar {
  position: fixed;
  width: 25%;
  height: 100%;
  text-align: center;
  background: rgb(24,121,9);
  background: linear-gradient(135deg, rgba(24,121,9,1) 0%, rgba(48,168,29,1) 35%, rgba(0,255,0,1) 100%);
font-family: "Roboto Mono", sans-serif;
}

.sidebar ul {
  margin-top: 20%;
  font-size: 25px;
}

.sidebar li{
 margin: 15% 0 0 -10%;
  list-style-type: none;
 color: white;
}

.sidebar a{
  color: white;
}

.nameCard {
  font-weight: bold;
 text-align: center;
 width: 100%;
 font-size: 25px
}

.name {
  background: green;
  color: white;
  padding: 3px;
  border: 1px solid black
}

.tagline{
  background: white;
  color: black;
  border: 1px solid black;
}

.pages {
grid-column: 2 / 5;
margin: 0 2%;
}

#header {
  text-align: center;
  font-size: 50px;
  font-family: 'Sansita Swashed', cursive;
}

.profile-pic{
  float: left;
  margin: 0 10px;
  width: 25%
}

.jumbo-link {
  font-size: 24pt;
  font-weight: bold
}

.card{
  border: 5px solid white;
  margin-bottom: 30px;
  padding: 0 10px
}

.card-header {
  font-family: 'Bree Serif', serif;
 text-align: center;
 border-bottom: 2px solid white
}


.nav-item {
  color: white
}

.buttonLogo {
  width: 32px;
  background: white;
  margin-right: 1%
}

#copyright{
  text-align: right
}

.learning {
  color: gray
}